body,
html {
    background-image: linear-gradient(to bottom, #000000bb, #00000022, #000000bb),
        url("./img/bg.webp");
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; /* ทำให้ความสูงของ body และ html เต็มหน้าจอ */
    font-family: "arial";
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0; /* วาง navbar ที่ด้านบนสุด */
    display: flex;
    justify-content: space-between; /* แยกเมนูซ้ายขวา */
    align-items: flex-end; /* จัดเมนูทั้งสองให้ชิดด้านบน */
    padding: 20px 28px 10px 28px;
    color: white;
}

.navbar .left-menu {
    display: flex;
    align-items: center; /* จัดให้โลโก้และเมนูใน left-menu อยู่ตรงกลางแนวตั้ง */
    gap: 15px; /* ระยะห่างระหว่างโลโก้และเมนู */
    color: white;
    font-size: 40px;
}

.navbar .right-menu {
    display: flex;
    font-size: 18px;
    gap: 15px;
    align-items: center; /* จัดให้เมนูขวาอยู่ตรงกลางแนวตั้ง */
    padding-right: 40px;
}

.navbar .right-menu .login {
    color: black;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 18px;
}

.navbar .right-menu i {
    font-size: 25px; /* เพิ่มขนาดของไอคอน */
    margin-right: 8px; /* เพิ่มระยะห่างระหว่างไอคอนและข้อความ */
}

.logo-img {
    width: 50px; /* ขนาดของโลโก้รูปภาพ */
    height: auto; /* ให้ความสูงปรับตามสัดส่วน */
}

.navbar .menu a {
    text-decoration: none;
    color: white; /* ลิงก์เป็นสีขาว */
    font-size: 18px;
}

.disclaimer {
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    max-width: 80%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* จัดให้เนื้อหาชิดบนสุด */
    align-items: center;
    text-align: center;
    margin-top: 230px; /* ขยับเนื้อหาไปข้างบน */
}

.content h1 {
    font-size: 8vw;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.content h1 .registered {
    font-size: 0.4em;
    vertical-align: super;
}

.create-account {
    background-color: rgb(253, 63, 91);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
